/*==========================*/
/* margin padding
============================*/
.mt0 {margin-top: 0px!important;}
.mt5 {margin-top: 5px!important;}
.mt10 {margin-top: 10px!important;}
.mt15 {margin-top: 15px!important;}
.mt17 {margin-top: 17px!important;}
.mt18 {margin-top: 18px!important;}
.mt20 {margin-top: 20px!important;}
.mt25 {margin-top: 25px!important;}
.mt30 {margin-top: 30px!important;}
.mt40 {margin-top: 40px!important;}
.mt45 {margin-top: 45px!important;}
.mt50 {margin-top: 50px!important;}

.mr0 {margin-right: 0px!important;}
.mr5 {margin-right: 5px!important;}
.mr10 {margin-right: 10px!important;}
.mr15 {margin-right: 15px!important;}
.mr20 {margin-right: 20px!important;}
.mr25 {margin-right: 25px!important;}
.mr30 {margin-right: 30px!important;}
.mr35 {margin-right: 35px!important;}
.mr40 {margin-right: 40px!important;}
.mr45 {margin-right: 45px!important;}
.mr50 {margin-right: 50px!important;}

.mb0 {margin-bottom: 0px!important;}
.mb5 {margin-bottom: 5px!important;}
.mb10 {margin-bottom: 10px!important;}
.mb15 {margin-bottom: 15px!important;}
.mb20 {margin-bottom: 20px!important;}
.mb25 {margin-bottom: 25px!important;}
.mb30 {margin-bottom: 30px!important;}
.mb35 {margin-bottom: 35px!important;}
.mb40 {margin-bottom: 40px!important;}
.mb45 {margin-bottom: 45px!important;}
.mb50 {margin-bottom: 50px!important;}

.ml0 {margin-left: 0px!important;}
.ml5 {margin-left: 5px!important;}
.ml8 {margin-left: 8px!important;}
.ml10 {margin-left: 10px!important;}
.ml15 {margin-left: 15px!important;}
.ml20 {margin-left: 20px!important;}
.ml25 {margin-left: 25px!important;}
.ml30 {margin-left: 30px!important;}
.ml35 {margin-left: 35px!important;}
.ml40 {margin-left: 40px!important;}
.ml45 {margin-left: 45px!important;}
.ml50 {margin-left: 50px!important;}
.ml100 {margin-left: 100px!important;}
.ml80 {margin-left: 80px!important;}

.pt0 {padding-top: 0px!important;}
.pt5 {
	padding-top: 5px;
}
.pt10 {padding-top: 10px!important;}
.pt15 {padding-top: 15px!important;}
.pt20 {padding-top: 20px!important;}
.pt25 {padding-top: 25px!important;}
.pt30 {padding-top: 30px!important;}
.pt35 {padding-top: 35px!important;}
.pt40 {padding-top: 40px!important;}
.pt45 {padding-top: 45px!important;}
.pt50 {padding-top: 50px!important;}

.pr0 {padding-right: 0px!important;}
.pr5 {padding-right: 5px!important;}
.pr10 {padding-right: 10px!important;}
.pr15 {padding-right: 15px!important;}
.pr20 {padding-right: 20px!important;}
.pr25 {padding-right: 25px!important;}
.pr30 {padding-right: 30px!important;}
.pr35 {padding-right: 35px!important;}
.pr40 {padding-right: 40px!important;}
.pr45 {padding-right: 45px!important;}
.pr50 {padding-right: 50px!important;}

.pb0 {padding-bottom: 0px!important;}
.pb5 {padding-bottom: 5px!important;}
.pb10 {padding-bottom: 10px!important;}
.pb15 {padding-bottom: 15px!important;}
.pb20 {padding-bottom: 20px!important;}
.pb25 {padding-bottom: 25px!important;}
.pb30 {padding-bottom: 30px!important;}
.pb35 {padding-bottom: 35px!important;}
.pb40 {padding-bottom: 40px!important;}
.pb45 {padding-bottom: 45px!important;}
.pb50 {padding-bottom: 50px!important;}

.pl0 {padding-left: 0px!important;}
.pl5 {padding-left: 5px!important;}
.pl10 {padding-left: 10px!important;}
.pl15 {padding-left: 15px!important;}
.pl20 {padding-left: 20px!important;}
.pl25 {padding-left: 25px!important;}
.pl30 {padding-left: 30px!important;}
.pl35 {padding-left: 35px!important;}
.pl40 {padding-left: 40px!important;}
.pl45 {padding-left: 45px!important;}
.pl50 {padding-left: 50px!important;}



.align_l {text-align : left ;}
.align_r {text-align : right ;}
.align_c {text-align : center ;}

.pre {
	word-break:break-all;
/*	white-space: pre;           /* CSS 2.0 */
/*	white-space: pre-wrap;      /* CSS 2.1 */
/*	white-space: pre-line;      /* CSS 3.0 */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap;  /* HP Printers */
	word-wrap: break-word;      /* IE 5+ */
}

/*==========================*/
/* font Setteing 
============================*/

.red {
	color: #F00;
}
.graybg {
	background:#EDECEC;
	border-radius: 4px;
}
.gray {
	background:#E2E2E2;	
}
.fontmd {
 	font-size: 116%;
}
.fontlg {
 	font-size: 131%;
}
.fontS {
    font-size: 65%;
}
.fontM {
    font-size: 75%;
}
.fontL {
    font-size: 85%;
}
.bold {
	color: #000;	
	font-weight: bold;
}
.highlights {
	color: #8b7959;	
	font-weight: bold;
}

/*==========================*/
/* Base Setting
============================*/

#container {
	width : 100%;
	margin : 0 auto;
	padding : 0;
	background: #fff;
}

/* header */

#header-top {
	border-top: 10px solid #2A2B2B;	
	background: #FFF;
	width: 100%;
	-webkit-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.41);
	-moz-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.41);
	box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.41);
	position: relative;
}

/* h1 */

#header-top h1 {
	width: 960px;
	color : #868686;
	padding-top : 10px;
	padding-bottom : 10px;
	line-height : 1.2em;
	font-weight : normal;
	margin-left: 0px;
	display: block;
	letter-spacing: 0.05em;
	-webkit-text-size-adjust :110%!important;
	margin: 0 auto;
	font-family: "NotoSansCJKjp-Light", sans-serif!important;
	font-size: 93%;
	text-align: center;
	margin-left: -15px;
}

.heading-blk h1 {
	color: #444444;
    line-height: 1.5em;
    font-weight: bold;
    margin-bottom: 0.8em;
	text-align: center!important;
	font-size: 163%;
}

.singlecate {
	background: #f39500;	
	color: #FFF;
	padding: 15px;
	width: 120px;
	font-weight: bold;
	letter-spacing: 0.05em;
	transform: rotate(-90deg);
	position: absolute;
}

/* globalnavigation */
#globalnavi {
	width: 100%;
	background: #D36343;
	height: 80px;
	z-index: 999;
	transition: background-color 0.5s;
	box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.41);
}
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
	background: #FFF !important;
	transition: background-color 0.8s;
}
.fixed + #main { /* Fixed固定ナビ差分 */
	margin-top: 102px;
}
body.global01 ul.gNavi a.gNavi01, body.global02 ul.gNavi a.gNavi02, body.global03 ul.gNavi a.gNavi03, body.global04 ul.gNavi a.gNavi04, body.global05 ul.gNavi a.gNavi05, body.global06 ul.gNavi a.gNavi06, body.global07 ul.gNavi a.gNavi07 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.fixed + ul#fixbtn {
	top: 80px;
    width: 70px;
    height: 70px;
}
.fixed + ul#fixbtn li a img {
    width: 70px;
    height: 70px;
}

/* Product grid */

.grid {
	position: relative;
	overflow: hidden;
	max-width: 1300px;
	margin: 0 auto;
	padding: 1.5em 0 8em;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	top: 80px;
}

/* Loader */
.grid__loader {
	display: none;
	margin: 3em auto 0;
}

.grid--loading .grid__loader {
	display: block;
}

/* Clearfix */

.grid:after {
	content: '';
	display: block;
	clear: both;
}

/* Grid items */

.grid__sizer,
.grid__item {
	position: relative;
	float: left;
	width: 20%;
	padding: .75em;
}

.no-touch .grid__sizer,
.no-touch .grid__item {
	/*padding: .75em .75em 1.25em;*/
	padding: .3em .3em .3em;
}

.grid--loading .grid__item {
	visibility: hidden;
}

.grid__item--size-a {
	width: 40%;
}

.editor {
	border-radius: 100px;
	width: 35px;
	height: 35px;	
	position: absolute;
	z-index: 1;
	background: #44C7F4;;
	margin: 5px;
	opacity : 0.8;
	filter: alpha(opacity=80);
}
.editor img {
	border-radius: 100px;	
}

/* Gallery */

.slider {
	padding: 0;
	/*border-radius: 5px;*/
	background: #FFF;
}

.no-touch .slider {
	padding: 0 0 1.25em;
}

.slider__item {
	padding: 5px;
	width: 100%;
}

.slider__item img {
	width: 100%;
}
/* Flickity page dots */

.slider .flickity-page-dots {
	bottom: 20px;
	opacity: 0;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

.no-touch .slider:hover .flickity-page-dots {
	opacity: 1;
}

.slider .flickity-page-dots .dot {
	background: #131417;
}

/* Product meta */

.meta {
	position: relative;
	margin: 10px 0 0;
	padding: 0 60px 0 0;
	text-align: left;
}

.meta__brand {
	font-size: .85em;
	font-weight: bold;
	display: block;
	color: #595b64;
}

.meta__title {
	color:#44C7F4;
	font-size: .90em;
	font-weight: bold;
	margin: 0;
	padding: .4em 0 .1em;
}

.meta__price {
	font-size: .95em;
	font-weight: bold;
	position: absolute;
	top: .45em;
	right: .25em;
	color: #595b64;
}

.singledate {
	border-radius: 40px;	
	border: 1px solid #868686;
	padding: 5px;
	color: #868686;
	letter-spacing: 0.1em;
	width: 80px;
	text-align: center;
	font-size: 86%;
	right: 30px;
	position: absolute;
}

.item__header {
	padding: 5px 0px;
	width: 236px;
}

.item__user-icon {
	float: left;
}

.item__user-icon img {
	border-radius: 100px;
	width: 35px;
	height: 35px;
}

.item__user-name, .user-comment {
	display: block;
	margin-left: 45px;
	font-size:76%;
	color: #595b64;
}
.item__user-name {
	color: #595b64;
}
.user-comment {
	color: #969696;
}

/* Action style */

.action {
	font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	font-size: 1.05em;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: .25em;
	cursor: pointer;
	color: #fff;
	border: none;
	background: none;
}

.action:focus {
	outline: none;
}

.action--button {
	color: #44C7F4;
}

.no-touch .action--button:hover {
	color: #fff;
	outline: none;
}

.text-hidden {
	position: absolute;
	top: 200%;
}

/* Add to cart button */

.action--buy {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.55em 0.65em;
	-webkit-transition: opacity .3s, -webkit-transform .3s;
	transition: opacity .3s, transform .3s;
	-webkit-transform: translate3d(-5px, 0, 0);
	transform: translate3d(-5px, 0, 0);
}
.heart_count {
	display: inline-block;	
	font-size: 86%;
	margin-left: 2px;	
}

/*.no-touch .action--buy {
	opacity: 0;
}

.no-touch .grid__item:hover .action--buy {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}*/

/* Fixed bottom bar */

.head {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	/*padding: 1.75em 5em;*/
	text-align: center;
	background: #44C7F4;
	-webkit-transform: translate3d(0, 0, 0);
}
.head img {
	width: 180px;
	height: 42px;
}

.bar {
	position: fixed;
	z-index: 100;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 1.75em 5em;
	text-align: center;
	background: #000;
	opacity : 0.7;
	filter: alpha(opacity=70);
	-webkit-transform: translate3d(0, 0, 0);
	/* Fix for Chrome flicker on Mac ...party like we're in 2012! */
}

.flexbox .filter {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}
#login {
    width: 90px;
    padding: 5px 12px;
    background-color: #444444;
    font-weight: 700;
    font-size: 12px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    position: absolute;
    right: 20px;
    top: 30px;
    z-index: 20000;
	cursor: pointer;
}

.loginpanel .login-message, .loginpanel .register-message {
    font-size: 20px;
    color: #00133A;
    font-weight: 700;
    line-height: 100%;
}

.loginpanel .go-login, .loginpanel .go-register {
    margin: 12px 0 8px;
    font-size: 14px;
}

.loginpanel .buttons {
    margin: 0 auto;
}

.loginpanel .buttons button {
    margin-top: 8px;
    font-size: 14px;
    height: 48px;
    width: 100%;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #FFF;
    border: none;
}

.loginpanel input {
    width: 100%;
    height: 40px;
    font-size: 12px;
    margin-top: 8px;
    transition: all .1s linear;
}

input[type="email"], input[type="password"], input[type="text"] {
    color: #222;
    padding: 10px;
    border: 1px solid #D9D9D9;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.loginpanel.login .form .forget-password {
    font-size: 12px;
    text-align: left;
    margin-top: 16px;
    color: #666;
    text-decoration: underline;
}

.loginpanel .error-message {
    border: none;
    background: 0 0;
    color: #F76666;
    padding: 0;
    margin-top: 16px;
}

.loginpanel .buttons button.login-btn, .loginpanel .buttons button.register-btn {
    border: 1px solid #15274d;
    background-color: #15274d;
    color: #FFF;
    border-radius: 2px;
    transition: all .1s linear;
    margin-top: 16px;
}

.modal .close-btn {
    position: absolute;
    top: -30px;
    right: -30px;
    width: 25px;
    height: 25px;
    z-index: 1;
    transition: all .1s linear;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

.loginpanel .buttons button {
    margin-top: 8px;
    font-size: 14px;
    height: 48px;
    width: 100%;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #FFF;
    border: none;
}

.modal {
 	display:none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 8000;
}

div#logo {
    width: 100%;
    min-width: 1100px;
    text-align: center;
}

div#logo a {
    height: 600px;
    width: 100%;
    text-indent: -99999px;
    display: block;
}

.cd-fixed-bg.cd-bg-1 {
    background-image: url("http://courrier.jp/media/2017/02/28220025/wappen_1stani_5-625x352.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
    width: 100%;
}

.cd-fixed-bg {
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

.article-content-container {
    position: relative;
    border: solid 1px #DEDEDE;
    margin-top: 25px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #FFF;
	position: relative;
	max-width: 960px;
	min-width: 960px;
	margin: 0 auto;
	padding-top: 30px;
	color: #444444;
	text-align: left;
}

.article-content-container .article-content {
    padding: 0 100px;
    font-size: 14px;
    line-height: 2em;
    font-family: "ヒラギノ角ゴ ProN W3","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic ProN",YuGothic,"Yu Gothic",游ゴシック体,游ゴシック,太ゴB101,"Futo Go B101",メイリオ,Meiryo,"ＭＳ Ｐゴシック","ＭＳ ゴシック",sans-serif;
    background-color: #FFF;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.has-img {

}

.has-img img {
	width:758px;
}

.loginpanel .buttons {
    margin: 0 auto;
}

.modal .background {
    background: #15274D;
    width: 100%;
    height: 100%;
    filter: alpha(Opacity=90);
    opacity: .9;
}

.modal .modal-content-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 8%;
    padding-bottom: 8%;
    text-align: center;
    overflow-y: auto;
    height: 100%;
}

.cd-scrolling-bg {
	background-image: url(../img/bg_gray.png);	
	background-color: #FFF;
	padding-top: 40px;
	padding-bottom: 120px;
}

.modal .dialog {
    text-align: left;
    position: relative;
    display: inline-block;
}

.comment_title_area {
    position: relative;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    line-height: 26px;
    height: 57px;
}

.comment_title_area > .comment_title {
    position: relative;
}

.comment_num {
    vertical-align: middle\9;
}

comment_title::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 26px;
    border-bottom: 2px solid #000000;
}

.comment_num::before {
    content: "";
    position: absolute;
    bottom: -6px;
    right: 25%;
    border: 6px solid transparent;
    border-right: 6px solid #000000;
    z-index: 1;
}

.comment_form {
    width: 625px;
}

.comment_error_wrapper {
    padding-top: 10px;
}

input, select {
    vertical-align: middle;
}

.comment-reply-title {
    display: none;
}

.comment_form #comments > div > form > ul {
    width: 100%;
    padding: 0;
    display: table;
}

div > form > ul > .comment_avatar_area {
    width: 71px;
}

form > ul > .comment_avatar_area {
    display: table-cell;
    vertical-align: top;
    width: 62px;
    padding: 0;
}

div > form > ul > .comment_input_area {
    display: table-cell;
    vertical-align: top;
    width: auto;
    padding: 0;
}

div > form .form-submit {
    text-align: right;
}

#comments > div > form .form-submit {
    text-align: right;
}

div > form .form-submit > ul > li {
    display: inline-block;
}

form .form-submit > ul > li.twitter-share-icon {
    background-image: url(../img/twitter_off.png);
}

li.facebook-share-icon label {
    display: inline-block;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.form-submit > ul > li.twitter-share-icon #twitter-share-flag, .comment_form #comments > div > form .form-submit > ul > li.facebook-share-icon #facebook-share-flag {
    display: none;
}

div > form .form-submit > ul > li.facebook-share-icon {
    background-image: url(../img/facebook_off.png);
}

div > form .form-submit > ul > li {
    display: inline-block;
}

div > form .form-submit > ul > li > input[type="submit"]:disabled {
    background: #9f9f9f;
    cursor: default;
}

.loginpanel {
    font-size: 16px;
    background: #FFF;
    padding: 32px 40px;
    width: 400px;
    position: relative;
    display: inline-block;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    transition: all .1s linear;
}

/* Filter */

.filter__label {
	font-size: .85em;
	display: inline-block;
	margin: 0 2%;
	font-weight: bold;
	color: #393A3F;
}

.filter__item {
	font-weight: bold;
	margin: 0 2%;
	padding: .1em;
	vertical-align: middle;
	/*color: #a3a3b3;*/
	border-bottom: 2px solid transparent;
}

.filter__item--selected {
	color: #5c5edc;
	border-color: #5c5edc;
}

.filter__item .icon {
	font-size: 1.75em;
	display: none;
}

/* Shopping cart */

.cart {
	font-size: 1.5em;
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
	height: 100%;
	padding: 0 1.195em;
	cursor: pointer;
	color: #abacae;
	border: none;
	background-color: #131415;
	display:none;
}

.no-touch .cart:focus,
.no-touch .cart:hover {
	color: #fff;
	outline: none;
}

.cart--animate .cart__icon {
	-webkit-animation: cartAnim .4s forwards;
	animation: cartAnim .4s forwards;
}

@-webkit-keyframes cartAnim {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(50px, 0, 0);
		transform: translate3d(50px, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-50px, 0, 0);
		transform: translate3d(-50px, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes cartAnim {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(50px, 0, 0);
		transform: translate3d(50px, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-50px, 0, 0);
		transform: translate3d(-50px, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.cart__count {
	font-size: 9px;
	font-weight: bold;
	line-height: 15px;
	position: absolute;
	top: 50%;
	right: 20px;
	width: 15px;
	height: 15px;
	margin: -16px 0 0 0;
	text-align: center;
	color: #fff;
	border-radius: 50%;
	background: #5c5edc;
}

.cart--animate .cart__count {
	-webkit-animation: countAnim .4s forwards;
	animation: countAnim .4s forwards;
}

@-webkit-keyframes countAnim {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(0, 80px, 0);
		transform: translate3d(0, 80px, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(0, -80px, 0);
		transform: translate3d(0, -80px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes countAnim {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(0, 80px, 0);
		transform: translate3d(0, 80px, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(0, -80px, 0);
		transform: translate3d(0, -80px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
/* Resize grid items on smaller screens */

@media screen and (max-width: 65em) {
	.grid__sizer,
	.grid__item,
	.grid__item--size-a {
		width: 33.333%;
	}
}

@media screen and (max-width: 50em) {
	.grid__sizer,
	.grid__item,
	.grid__item--size-a {
		width: 50%;
	}
	.bar {
		padding-left: 0;
		text-align: left;
	}
}

@media screen and (max-width: 40em) {
	.bar {
		padding: .5em 4.5em .5em 0;
	}
	.flexbox .filter {
		-webkit-justify-content: space-around;
		justify-content: space-around;
	}
	.filter__item {
		height: 100%;
		padding: .5em .1em;
		border: none;
	}
	.filter__item .icon {
		display: inline-block;
	}
	.filter__label,
	.action__text {
		font-size: 76%;
	}
	.cart {
		padding: 0 1em;
	}
	.head {
		padding: 0.05em 0.5em;
	}	
	.head img {
		width: 100px;
		height: 23px;
	}	
	#login {
    	top: 20px;
	}
}

@media screen and (max-width: 25em) {
	.grid {
		max-width: 75%;
	}
	.grid__loader {
		margin: 0 auto;
	}
	.grid__sizer,
	.grid__item,
	.grid__item--size-a {
		width: 100%;
	}
	.action--buy {
		font-size: 1.5em;
		padding: 1.15em 1.5em;
		-webkit-tap-highlight-color: transparent;
	}
}